.searchBody {
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (min-width: 740px) {
    .searchBody{
        margin: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: baseline;
    }
}