.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navBar {
  display: flex;
  align-items: center;
  background-color: rgb(99, 160, 99);
  margin: 0;
  height: 75px;
}

.linkToHome{
  color: White;
  text-decoration: underline;
  margin: 5px;
}

.searchBar {
  margin: 5px;
}

@media screen and (max-width: 700px){
  .linkToHome{
    margin: 1px;
  }
  .searchBar{
    margin: 1px;
  }
}